@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #f8fafc;
}

body {
    height: 100%;
}

/* 卷軸樣式 只有在電腦版才會出現 */

@media screen and (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 12px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    ::-webkit-scrollbar-track-piece {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-corner {
        background: #f1f1f1;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }
}
